@media only screen and (min-width: 64em) {
    .currentconditions {
        display: block;
    }
    
    .articleimg 
    { 
        float: right; 
        width: 250px;
    }

    .contact 
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center; 
        font-size: 1.1em;
    }

    .mapimage
    {
        float: middle;
        width: 250px;
    
    }
    nav li
    {
        display: block;
        
    }

    .hamburger { display: none; }

    .active
    {
    background-color:orange;
    color:#fff;
    }

    .gallerypics figure:hover{box-shadow: 2px 2px 8px #454545;}

    .gallerypics
    {
       grid-template-columns: auto auto auto;
     
    }
    #towndata
    {
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 0;
    }
    .townData
    {
        margin: 5px;
        
    
    }

    .townData p
    {
        padding: 5px;
    }
    .townData img
    {
        height: 30%;
    }
}



