/* Hotel Natoma Reserve */
@font-face {
  font-family: 'PTSansCaption';
  src: url('fonts/PTC55F-webfont.eot');
  src: local('☺'), url('fonts/PTC55F-webfont.woff') format('woff'), url('fonts/PTC55F-webfont.ttf') format('truetype'), url('fonts/PTC55F-webfont.svg#webfontaMnF3Xb4') format('svg');
  font-weight: normal;
  font-style: normal;
  }
article, aside, body, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, header, li, nav, ol, p, section, table, th, td, ul {
  margin: 0;
  padding: 0;
  }
article, aside, figure, header, footer, nav {
  display: block;
  }
body {
  font-family: tahoma, verdana, arial, sans-serif;
  margin: 0 auto;
  width: 960px;
  }
figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.1em;
  width: 100%;
  margin-bottom: 0.5em;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6);
  }
figure {
  display: block;
  float: right;
  margin: 0 0 0.5em 1em;
  text-align: center;
  position: relative;
  }
figure img {
  display: block;
  margin-bottom: 0.5em;
  }

nav {
  background: #93AD78;
  }
ol {
  padding-left: 40px;
  }
ul {
  padding-left: 40px;
  }

#skipnav {
  color: white;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  }
#skipnav  a {
  text-decoration: none;
  }
.center {
  margin: 0 auto;
  }
.center img {
  display: block;
  padding: 0 0 2em 0;
  margin: 0 auto;
  }
.right {
  margin: 0 1em 0 0;
  float: right;
  clear: right;
  }
.right img {
  display: block;
  }

/* Forms */
legend, #submit {
  font-family: PTSansCaption, georgia, "times new roman", times, serif;
  }
fieldset {
  margin-bottom: 4px;
  position: relative;
  padding: 2.5em 1em 0.5em 1em;
  background: #62B6CB;
  }
fieldset fieldset {
  padding-top: 5px;
  border: 2px solid #082008;
  }
#formfill {
  background: #082008;
  padding: 4px 4px 4px 4px;
  margin: 0;
  }
input, textarea {
  font-size: 1em;
  }
legend span {
  position: absolute;
  left: 0;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  }
textarea { 
  display: block; 
  }
#contactinfo label {
  display: block;
  position: relative;
  margin: 12px 12px;
  }
#contactinfo input {
  position: absolute;
  left: 50px;
  }
#nameinput, #emailinput {
  width: 20em;
  }
#phoneinput {
  width: 10em;
  }
#partysize label {
  margin-right: 20px;
  width: 3em;
  }
#partysize input {
  width: 3em;
  }
#bedpref label {
  margin: 25px;
  }
#checkin {
  float: left;
  width: 45%;
  }
#checkout {
  float: right;
  width: 45%;
  }
#parkinginput {
  width: 3em;
  }
#submit {
  background: #e3d5ba;
  font-size: 1.25em;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
#submitbutton {
  text-align: center;
  padding: 0.5em 0 0 0;
  }
#searchform {
  position: absolute;
  right: 10px;
  top: 80px;
}
#searchbox {
  width: 170px;
  }
input:focus, textarea:focus {
  background: #e3d5ba;
  }

/* styles-small */
  *{
    margin:0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    text-decoration: none;
  }
  
  body, html {
    background: lightgreen;
    font-family: 'Istok Web', sans-serif;
    height:100%;
  }
  
  .global-wrapper{
    
    min-height: 100%;
    margin: 0 auto -100px auto;
    max-width:900px;
    background: white;
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding-top: 30px;
  }
  
  header {
    max-width: 800px;
    height:175px;
    margin: auto;
    border:solid 1px black;
    background-color: green;
  }
  
  #temple {
    color:white;
  }
  
  .headerlogo {
    width: 300px;
    height: auto;
  }

  h1 {
    font-size: 50px;
    text-align: center;
    margin:20px 0 0 0;
  }
  
  h2 {
    width: 100%;
    text-align: center;
    margin: -15px 0 45px 0;
    font-size: 16px;
  }
  
  nav {
    width: 100%;
    border:solid px;
    margin:-14px 0 0 0;
    background-color:rgba(255,255,255,0.6);
    padding:10px 10px 10px 15.5px;
    border:solid px black;
  }
  
  a {
    display: inline-block;
    margin: 0 auto;
    border: solid px black;
    width:16%;
    text-align:center;
    text-shadow: -.5px -.5px 0 black, .5px -.5px 0 black, -.5px .5px 0 black, .5px .5px 0 black;;
    color: white;
  }
  
  a:hover {
    color:white;
  }
  
  .main-page-area {
    max-width: 800px;
    height:100%;
    margin: 0 auto;
    padding:40px;
  }
  
  .main-page-area p {
    background: lightgray;
    padding:10px 15px;
    max-width:600px;
    margin:0 auto;  
    text-align: center;
  }
  
  .global-wrapper:after {
    content:"";
    display: block;
    border:solid px green;
    background-color: white;
  }
  
  
  .site-footer, .global-wrapper:after {
    height: 100px;
  }
  
  .site-footer {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: green;
    border-left:solid 1px black;
    border-right:solid 1px black;
    border-top:solid 1px black;
    color: white;
    font-size: 15px;
    text-align: center;
  }
  
  .selected {
    background: green;
  }