*{
  margin:0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  text-decoration: none;
}

body, html {
  background: lightgreen;
  font-family: 'Istok Web', sans-serif;
  height:100%;
}



.global-wrapper{
  
  min-height: 100%;
  margin: 0 auto -100px auto;
  max-width:900px;
  background: white;
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding-top: 30px;
}

header {
  max-width: 800px;
  height:175px;
  margin: auto;
  border:solid 1px black;
  background-color: green;
}

#temple {
  color:white;
}

.headerlogo {
  width: 300px;
  height: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin:20px 0 0 0;
}

h2 {
  width: 100%;
  text-align: center;
  margin: -15px 0 45px 0;
  font-size: 16px;
}

nav {
  width: 100%;
  border:solid px;
  margin:-14px 0 0 0;
  background-color:rgba(255,255,255,0.6);
  padding:10px 10px 10px 15.5px;
  border:solid px black;
}

.active {
  background-color: lightgreen;
  color:#fff;
}

a {
  display: inline-block;
  margin: 0 auto;
  border: solid px black;
  width:16%;
  text-align:center;
  text-shadow: -.5px -.5px 0 black, .5px -.5px 0 black, -.5px .5px 0 black, .5px .5px 0 black;;
  color: white;
}

a:hover {
  color:white;
}

.main-page-area {
  border-left: solid 1px black;
  border-right: solid 1px black;
  max-width: 800px;
  height:100%;
  margin: 0 auto;
  padding:40px;
}

.main-page-area p {
  background: lightgray;
  padding:10px 15px;
  max-width:600px;
  margin:0 auto;  
}

.global-wrapper:after {
  content:"";
  display: block;
  border:solid px green;
  background-color: white;
}

.fourtemples {
  text-align: center;
}

.tmpl-img{
  max-width: 100%;
}

.reserve {
  text-align: center;
}

.sgeorge {
  text-align: center;
}
.site-footer, .global-wrapper:after {
  height: 100px;
}

.site-footer {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background-color: green;
  border-left:solid 1px black;
  border-right:solid 1px black;
  border-top:solid 1px black;
  color: white;
  font-size: 15px;
  text-align: center;
}

.showtemple{
  display: block;
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 320px;
  height: 220px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.selected {
  background: green;
  box-shadow: 0 .3em 1em #111
}

h3 {
  font-weight: 100;
  font-size: 1rem;
  color: white;
  text-align: center;
}

.accordion {
  background: linear-gradient(to bottom right, white, #F8F8F8);
  max-width: 400px;
  background: white;
  margin: 0 auto;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  border-bottom: 1px solid #DDE0E7;
  color: #2a313a;
  cursor: pointer;
  font-weight: 700;
  padding: 1.5rem;
  
}

.accordion-header:hover {
  background: #F6F7F9;
}

.accordion-content {
  display: none;
  border-bottom: 1px solid #DDE0E7;
  background: #F6F7F9;
  padding: 1.5rem;
  color: #4a5666;
}

.accordion-header::before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: #B1B5BE;
  margin-right: .75rem;
}

.active.accordion-header::before {
  background-color: green;
}

.main-page-area article {
  background: lightgray;
  padding:10px 15px;
  max-width:600px;
  margin:0 auto;  
  text-align: center;
}

.selected {
  background: green;
  box-shadow: 0 .3em 1em #111
}