body {
    font-family: 'Lobster', sans-serif;
    font-size: 18px;
}

header {
    background-color: blue;
    text-align:center;
    padding: .5rem;
    color:#fff;
}

header > img{
    width: 150px;
    padding: 1.2rem 4rem;
    height: auto;
    vertical-align: middle;
}

.headertext {
    display: inline-block;
    vertical-align: middle;
}

.headertext h1 {
    font-size: 3rem;
}

.subheading {
    font-size: 1.2rem;
    color: rgb(0, 9, 87);
    font-style: italic;
}

.currentconditions {
    display: inline-block;
    margin: 1rem 0 1rem 5rem;
    padding: 1.2rem 4rem;
    vertical-align: middle;
    color: #fff;
    background-color: rgb(2, 9, 49);
    border: 1pt solid rgb(9, 10, 10);
    font-size: 1.1rem;
    box-shadow: 5px 10px 5px rgb(9, 10, 10);
}

.currentconditions img {
    width: 100px;
    height: auto;
}

